 <web-app>
	<servlet>
		 <servlet-name>Login</servlet-name>
		 <servlet-class>controller.UserController</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>login_jsp</servlet-name>
    	<jsp-file>/login.jsp</jsp-file>
	</servlet>
	<servlet>
    	<servlet-name>marques_jsp</servlet-name>
    	<jsp-file>/marques.jsp</jsp-file>
	</servlet>
	<servlet>
    	<servlet-name>machines_by_marque_jsp</servlet-name>
    	<jsp-file>/machines_by_marque.jsp</jsp-file>
	</servlet>
	<servlet>
    	<servlet-name>machines_between_dates_jsp</servlet-name>
    	<jsp-file>/machines_between_dates.jsp</jsp-file>
	</servlet>
	<servlet>
    	<servlet-name>add_marque_jsp</servlet-name>
    	<jsp-file>/add_marque.jsp</jsp-file>
	</servlet>
	<servlet>
    	<servlet-name>update_marque_jsp</servlet-name>
    	<jsp-file>/update_marque.jsp</jsp-file>
	</servlet>
	<servlet>
    	<servlet-name>machines_jsp</servlet-name>
    	<jsp-file>/machines.jsp</jsp-file>
	</servlet>
	<servlet>
    	<servlet-name>add_machine_jsp</servlet-name>
    	<jsp-file>/add_machine.jsp</jsp-file>
	</servlet>
	<servlet>
    	<servlet-name>update_machine_jsp</servlet-name>
    	<jsp-file>/update_machine.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>login_jsp</servlet-name>
	    <url-pattern>/login_jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>machines_between_dates_jsp</servlet-name>
	    <url-pattern>/machines_between_dates_jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>machines_by_marque_jsp</servlet-name>
	    <url-pattern>/machines_by_marque_jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>marques_jsp</servlet-name>
	    <url-pattern>/marques_jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>add_marque_jsp</servlet-name>
	    <url-pattern>/add_marque_jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>update_marque_jsp</servlet-name>
	    <url-pattern>/update_marque_jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>machines_jsp</servlet-name>
	    <url-pattern>/machines_jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>add_machine_jsp</servlet-name>
	    <url-pattern>/add_machine_jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>update_machine_jsp</servlet-name>
	    <url-pattern>/update_machine_jsp</url-pattern>
	</servlet-mapping>
	<display-name>GMachines1</display-name>
 </web-app>